.navigation {
  position: relative;
  top:50px;
  height: 80px;
  background: white;
  display: flex;
  flex-wrap: wrap;
  width: 70px;
  border-radius: 5px;
}

.navigation a {
  width:90%;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: blue;
  text-align: center;
  border-radius: 5px;
}

.navigation a:hover {
 background: gray;
 color: white;
}


